/* Color Palette */
:root{
    --white-color: white;
    --golden-color: #cc9900;
    --grey-color: #dde0df;
    --footer-color: #191919;
    --heading-font: 'Yeseva One', cursive, sans-serif;
    --paragraph-font: 'Lato', sans-serif;
    --menu-review-font: 'Gentium Book Basic', serif, sans-serif;
    --footer-font: 'Open Sans', sans-serif;
    
}

html{
    font-size: 62.5%;
}

/* -------------------- Typography -------------------- */
h1,
h2,
h3{
    font-family: var(--heading-font);
    margin: 0;
}
h1{
    font-size: 7.2rem;
}
h2{
    font-size: 2.9rem;
}
h3{
    font-size: 1.7rem;
    --footer-font: 'Open Sans', sans-serif;
}
p{
    font-size: 1.3rem;
    font-family: var(--paragraph-font);
    line-height: 1.5;
}
li{
    font-size: 1.7rem;
    font-family: var(--menu-review-font);
    list-style: none;
    
    
}

/* -------------------- Menu -------------------- */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */
  }


  nav{
    background-image: url(images/bgtop.png);
    box-shadow: -4px -2px 29px -5px rgba(0,0,0,0.68);
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  nav .logo{
    margin-left: 10px;
  }
  nav{
      display: flex;
      justify-content: space-evenly;

  }
  nav ul{
    margin-right: 0px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #dde0df4d;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
  }
  nav .icons{
    display: inline;
    margin-right: 3rem;
    align-self: center;

}
nav .icons .icon{
    width: 20px;
    height: 20px;
    margin-right: 0rem;
    cursor: pointer;
}

  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav{
        justify-content: space-evenly;
    }
    nav ul li a{
      font-size: 16px;
    }
    nav .icons{
        display: inline;
        margin-right: 3rem;
       
    
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    nav{
        background-color: #cc9900f1;
        background-image: none;
        padding-bottom: 1rem;
        
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #cc9900f1;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav{
        justify-content: space-between;
    }
    nav ul li{
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.31);
      margin: 0 10rem;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: none;
      
    }
    #check:checked ~ ul{
      left: 0;
    }
    nav .icons{
        display: none;
        margin-right: 3rem;
    
    }
  }
  @media (max-width: 320px){
    .checkbtn{
      display: block;
    }
    nav{
        background-color: #cc9900f1;
        background-image: none;
        width: 86.8%;
        
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #cc9900f1;
      top: 80px;
      width: 86.8%;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav{
        justify-content: space-between;
    }
    nav ul li{
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.31);
      /* margin: 0 10rem; */
      width: 86.8%;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #cc9900;
      
    }
    #check:checked ~ ul{
      left: 0;
    }
    nav .icons{
        display: none;
        margin-right: 3rem;
    
    }
  }

/* -------------------- Hero -------------------- */
.hero{
    background-image: url(images/Bg.png);
    background-position: right 35% bottom 45%;
    box-shadow: inset 0 0 5px 2px #282a2d;
    width: 100vw;
    height: 100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero h1{
    text-align: center;
    font-size: clamp(1rem, 6.6vw, 15rem );
    padding: 0 7rem;
    font-weight: 500;
    color: var(--white-color);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.020);
}

.hero .hero_divider{
    width: 13rem;
    margin: 3rem 0;
}

.hero .buttons{
    display: flex;
    flex-direction: column;
}

.hero button{
    width: 13rem;
    height: 4rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: var(--paragraph-font);
    margin: 1.3rem;
    cursor: pointer;
    transition: transform 0.3s;
}
.hero .primary{
    background-color: rgba(0, 0, 0, 0.400); 
    border: 1px solid rgba(0, 0, 0, 0.824);
}

.hero .secondary{
    background-color: rgba(255, 255, 255, 0.200);
    border: 1px solid rgba(255, 255, 255, 0.68);
}

.hero .primary:hover{
    background-color: rgba(0, 0, 0, 0.600); 
    transform: scale(1.1)
}

.hero .secondary:hover{
    background-color: rgba(255, 255, 255, 0.400);
    transform: scale(1.1)
    
}
@media screen and (min-width: 778px) and (max-width: 869px) {
    .hero{
        background-position: none;
    }
.hero h1{
    padding: 0 11rem;
    font-size: clamp(2.7rem, 6.7vw, 15rem );
}

.hero .hero_divider{
    width: 20rem;
    margin: 4rem 0;
}

.hero .buttons{
    display: block;
}

.hero button{
    width: 18rem;
    height: 5rem;
    font-size: 1.4rem;
    margin: 1.3rem;
}
}
@media screen and (min-width: 870px) and (max-width: 1440px) {
    .hero{
        background-position: none;
    }
.hero h1{
    padding: 0 11rem;
    font-size: clamp(2.7rem, 7vw, 15rem );
}

.hero .hero_divider{
    width: 20rem;
    margin: 4rem 0;
}

.hero .buttons{
    display: block;
}

.hero button{
    width: 18rem;
    height: 5rem;
    font-size: 1.4rem;
    margin: 1.3rem;
}
}
@media screen and (min-width: 2560px){
    .hero h1{
        padding: 0 35rem;
    }
    .hero .hero_divider{
        width: 35rem;
        margin: 10rem 0;
    }
    .hero .buttons{
        display: block;
    }
    .hero button{
        width: 35rem;
        height: 10rem;
        margin: 2rem;
        font-size: 2.5rem;
    }

    
}

/* -------------------- Statement Section -------------------- */

.grid{
    display: grid;
    align-self: center;
    }

.statement{
    background-image: url(images/pattern1.png);
    background-size: cover;
    width: 100vw;
    height: auto;
    overflow: hidden;
   
}

.content{
    padding: 8rem 3rem 4rem 3rem;
}

.statement .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement .content h2{
    color: var(--golden-color);
}



.statement .content .golden_divider{
    width: 20.3rem;
    margin: 2rem 0rem ;
}

.statement .content p{
    text-align: center;
    padding: 0 3rem;
    color: rgb(97, 97, 97);
}

.statement .content .cook{
  margin-top: 2rem
}

.statement .dish{
    margin: 0;
    display: flex;
    justify-content: center;
}
.statement .dish img{
    width: 35rem;
}



@media screen and (min-width: 768px) and (max-width: 1439px){

.grid--1x2{
grid-template-columns: repeat(2, 1fr);
}


.content{
    padding: 8rem 5rem 4rem 5rem;
}

.statement .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement .content h2{
    color: var(--golden-color);
}



.statement .dish{
    margin: 0;
    align-self: center;
}
.statement .dish img{
    width: clamp(38rem, 50vw, 45rem );
}
}
@media screen and (min-width: 1040px) and (max-width: 1440px){
    .grid--1x2{
        grid-template-columns: 30% 70% repeat(2, 1fr);
        }
    .statement{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
.content{
    padding: 15rem 0rem;
}


.statement .content .paragraph{
    width: 40rem;
}
.statement .dish img{
    width: 55rem;
    align-self: center;
}
}
@media screen and (min-width: 2560px){
    .grid--1x2{
        grid-template-columns: 50% 50% repeat(2, 1fr);
        justify-items: center;
        }
    
    .statement{
        padding-top: 8rem;
       
    }  
    .statement .content{
       
        max-width: 100%;
    }   
    .statement .content h2{
        color: var(--golden-color);
        font-size: 5rem;
    }
    
    .statement .content .golden_divider{
        width: 25.3rem;
        margin: 2rem 0rem ;
    }
    .statement .content p{
        font-size: 1.8rem;
        padding: 0;
        margin: 0;
    }
    
    .statement .content .cook{
      margin-top: 2rem
    }
    
    .statement .dish{
        margin: 0;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .statement .dish img{
        width: 90rem;
        margin-left: 8rem;
    }
    
}

/* -------------------- Ingredients Section -------------------- */
.ingredients{
    background-image: url(images/bg5.png);
    background-size: cover;
    overflow: hidden;
    padding: 8rem 16rem;
   display: flex;
   flex-direction: column;
   justify-content: end; 
    align-items: center; 
}
.ingredients .empty{
    background-color: red;
    height: 46rem;
    width: 46rem;
    display: none;
}

.ingredients .ingredients_desciption{
    background-color: rgba(0, 0, 0, 0.454);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 5rem 8rem;
    margin: 0 0rem;
}

.ingredients .ingredients_desciption h2{
    color: var(--white-color);
}

.ingredients .ingredients_desciption .divider{
    margin: 2rem 0;
   
   
}

.ingredients .ingredients_desciption p{
    color: var(--white-color);
    text-align: center;
}

.ingredients .ingredients_desciption .spices{
    display: flex;
    margin: 3rem 0 1rem 0;
}

.ingredients .ingredients_desciption .masala{
    width: 8rem;
    height: 8rem;
    margin-top: 0rem;
   border-radius: 50%;
   border: 4px solid rgba(65, 65, 65, 0.488);
}

@media screen and (min-width: 768px) and (max-width: 1130px){

    .grid--1x2{
        grid-template-columns: 50% 50% repeat(2, 1fr);
        justify-items: center;
        }
    .ingredients .empty{
        display: none;
    }
    
    .ingredients .ingredients_desciption{
        width: 36rem;
        height: 40rem;
        background-color: rgba(0, 0, 0, 0.454);
        padding: 6rem 4rem 8rem 4rem;
      
    }
}
@media screen and (min-width: 1130px) and (max-width: 1440px){

    .ingredients{
        background-image: url(images/bg5.png);
        padding: 8rem 18rem;
       display: flex;
       flex-direction: row;
       justify-content: end; 
        align-items: center; 
    }
    .ingredients .empty{
        background-color: rgba(255, 0, 0, 0);
        height: 46rem;
        width: 46rem;
        display: block;
    }
    
    .ingredients .ingredients_desciption{
        width: 36rem;
        height: 40rem;
        padding: 6rem 5rem 8rem;
    }
    
}
@media screen and (min-width: 1441px) and (max-width: 1613px){

    .ingredients{
        background-image: url(images/bg5.png);
        padding: 8rem 38rem;
       display: flex;
       flex-direction: row;
       justify-content: end; 
        align-items: center; 
    }
    .ingredients .empty{
        background-color: rgba(255, 0, 0, 0);
        height: 46rem;
        width: 46rem;
        display: block;
    }
    
    .ingredients .ingredients_desciption{
        width: 60rem;
        height: 50rem;
        padding: 7rem 6rem 10rem;
    }

    .ingredients .ingredients_desciption h2{
        font-size: 3.8rem;
    }

    .ingredients .ingredients_desciption p{
        font-size: 1.8rem;

    }
    
}
@media screen and (min-width: 2560px){

    .ingredients{
        background-image: url(images/bg5.png);
        padding: 8rem 38rem;
       display: flex;
       flex-direction: row;
       justify-content: end; 
        align-items: center; 
    }
    .ingredients .empty{
        background-color: rgba(255, 0, 0, 0);
        height: 46rem;
        width: 46rem;
        display: block;
    }
    
    .ingredients .ingredients_desciption{
        width: 60rem;
        height: 50rem;
        padding: 7rem 6rem 10rem;
    }

    .ingredients .ingredients_desciption h2{
        font-size: 5rem;
    }

    .ingredients .ingredients_desciption p{
        font-size: 1.8rem;

    }
    
}

/* -------------------- Dish Menu Section -------------------- */
 .grid1{
    display: grid;
    }

    .grid--1x2{
        grid-template-columns: auto;
        align-self: center;
       
        }
.menu{
    background-image: url(images/pattern23.png);
    padding:3rem 3rem 4rem;
}

.menu .col .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu h2{
    color: var(--golden-color);
    text-align: center;
    margin-top: 3rem;
}
.menu .divider{
    width: 19rem;
    margin: 1rem 0rem 3rem 0rem;
    margin-right: 0;
}
.menu .dishes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cc99003a;
    margin-left: 0rem;
    width: 95%;
   
}
.menu h3{
    color: var(--golden-color);
    padding-bottom: 1rem;
}

.menu p{
    color: rgb(97, 97, 97);
    margin-top: 1rem;
}

@media screen and (min-width: 390px){
    .menu{
        background-image: url(images/pattern23.png);
        padding: 3rem 3rem 4rem;
    }

    .menu p{
        color: rgba(48, 48, 48, 0.954);
        margin-top: 1rem;
        width: 95%;
    }
}


@media screen and (min-width: 768px){
   
   
        .grid--1x2{
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5rem;
            align-self: center;
           
            }
            .menu{
                background-image: url(images/pattern23.png);
                padding: 5rem 11rem 5rem;
            }
        .menu .dishes{
            width: 100%;
             }

}
@media screen and (min-width: 1131px){
    
    .grid--1x2{
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5rem;
            align-self: center;
           
    }
    .menu{
        background-image: url(images/pattern23.png);
        padding: 1rem 11rem 5rem;
    }

    .menu h2{
        color: var(--golden-color);
        text-align: center;
        margin-top: 8rem;
    }
  
    .menu .dishes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #cc99003a;
        margin: 0;
        width: 80%;
       
    }
    
    .menu p{
        width: 80%;
    }
}

@media screen and (min-width: 2560px){
    .grid1{
        display: grid;
        }
    
        .grid--1x2{
            grid-template-columns: repeat(2, 1fr);
            align-self: center;
            column-gap: none;
           
            }
    .menu{
        background-image: url(images/pattern23.png);
        padding: 0 20rem;
    }
    
    .menu .col .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .menu h2{
        color: var(--golden-color);
        text-align: center;
        margin-top: 8rem;
        font-size: 5rem;
    }
    .menu .divider{
        width: 19rem;
        margin: 1rem 0rem 3rem 0rem;
        margin-right: 0;
    }
    .menu .dishes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #cc99003a;
        margin-left: 0rem;
        width: 100%;
       
    }
    .menu h3{
        color: var(--golden-color);
        padding-bottom: 1rem;
        font-size: 3rem;
    }
    
    .menu p{
        color: rgba(48, 48, 48, 0.954);
        margin-top: 1rem;
        font-size: 1.8rem;
        width: 100%;
    }
}


/* -------------------- Reviews Section -------------------- */

.reviews{

    background-image: url(images/bg2.png);
    background-size: cover;
    padding: 2rem;
   
    
}

.reviews .review_box{
    background-color:rgba(0, 0, 0, 0.7);
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

.reviews .review_box h2{
    color: white;
}

.reviews .review_box .divider{
    width: 18rem;
    margin: 1rem 0 2rem;
  
    
}

.reviews .review_box p{
    color: var(--grey-color);
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--menu-review-font);
}

.reviews .review_box .place{
    font-family: var(--paragraph-font);
}

@media screen and (min-width: 425px){

    .reviews{
        padding: 10%;   
    }
    .reviews .review_box{   
        padding: 10%;
    }
    .reviews .review_box p{
        color: var(--grey-color);
        text-align: center;
        font-size: 1.4rem;
        font-family: var(--menu-review-font);
    }
}
@media screen and (min-width: 768px){

    .reviews{
        padding: 10% 20%;   
    }
    .reviews .review_box{   
        padding: 10%;
    }
    .reviews .review_box p{
        color: var(--grey-color);
        text-align: center;
        font-size: 1.4rem;
        font-family: var(--menu-review-font);
    }
}
@media screen and (min-width: 1024px){

    .reviews{
        padding: 8% 25%;   
    }
    .reviews .review_box{   
        padding: 8%;
    }
    .reviews .review_box p{
        color: var(--grey-color);
        text-align: center;
        font-size: 2rem;
        font-family: var(--menu-review-font);
    }
}
@media screen and (min-width: 1440px){

    .reviews{
        padding: 9% 30%;   
    }
    .reviews .review_box{   
        padding: 8%;
    }
    .reviews .review_box p{
        color: var(--grey-color);
        text-align: center;
        font-size: 1.8rem;
        font-family: var(--menu-review-font);
    }
}

/* -------------------- Booking Section -------------------- */

.booking{
background-image: url(images/pattern1.png);
background-size: cover;
}

.booking .images{
    display: none;
}
.booking .form_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.booking .form_box h2{
    color: var(--golden-color);
}

.booking .form_box .divider{
    width: 20rem;
    margin: 1rem 0 2rem;
}

.booking .form_box p{
    text-align: center;
    color: rgb(97, 97, 97);
}

.booking .form_box form{
 width: 240px;
 display: flex;
 justify-content: space-between;
}


.booking .form_box form label{
    color: var(--golden-color);
}
.booking .form_box form label, input, select{
   display: block;
   white-space: nowrap;
   width: 10rem;
   height: 1.5rem;
}
.booking .form_box form input{
    padding-left: 5px;

}

.booking .form_box form input, select{
    margin-bottom: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.255);  
 }

 .booking .form_box form input:focus{
    outline: none !important;
    border-color:#cc990097;
    
  
 }
 .booking .form_box form select:focus{
    outline: none !important;
    border-color:#cc990097;
 }
 .booking button{
    margin-top: 1.5rem;
    width: 10rem;
    height: 2.2rem;
    border: none;
    background-color:#d7b148;
    color: white;
    font-size: 1.1rem;
    font-family: var(--footer-font);
    cursor: pointer;
}

@media screen and (min-width: 375px){
        
        .booking .form_box form{
         width: 240px;
        }
        
}
@media screen and (min-width: 425px){
        
        .booking .form_box form{
         width: 240px;
        }
        .booking .form_box form label{
            margin-top: 20px;
            

        }
        
}
@media screen and (min-width: 768px){
        
    .grid--1x2{
        grid-template-columns: 30% 70% repeat(2, 1fr);
    }
    .booking{
       padding: 10% 10%;
    }

        .booking .images{
         display:inline;
         }

         .booking .images .img1{
             display: none;
         }

         .booking .form_box{
             margin: 0;
         }

        .booking .form_box form{
         width: 370px;
        }
        .booking .form_box form label{
            margin-top: 20px;
            

        }

        .booking .form_box form label, input, select{
            display: block;
            width: 17rem;
            height: 2.5rem;
         }
         
         .booking .form_box form input, select{
             margin-bottom: 1rem;
             border: 1px solid rgba(128, 128, 128, 0.255);  
          }
        
}
@media screen and (min-width: 1024px){
        
    .grid--1x2{
        grid-template-columns: 50% 50% repeat(2, 1fr);
    }
    .booking{
       padding: 90px 90px; 
    }

        .booking .images{
         display:inline-flex;
         }

         .booking .images .img1{
             display: inline;
             margin-right: 50px;
         }

         .booking .form_box{
             margin: 0;
         }

        .booking .form_box form{
         width: 400px;
        }
       

        .booking .form_box form label, input, select{
            display: block;
            width: 18rem;
            height: 2.5rem;
         }
         
         .booking .form_box form input, select{
             margin-bottom: 1rem;
             border: 1px solid rgba(128, 128, 128, 0.255);  
          }
          .booking button{
              transition: transform 0.5s;
          }

          .booking button:hover{
              background-color: var(--golden-color);
              transform: scale(1.3);
          }
        
}
@media screen and (min-width: 1170px){
        
    .grid--1x2{
        grid-template-columns: 50% 50% repeat(2, 1fr);
    }
    .booking{
       padding: 90px 140px; 
    } .booking .form_box form label{
        margin-bottom: 4px;

    }
        
}

@media screen and (min-width: 1290px){
        
    .grid--1x2{
        grid-template-columns: 50% 50% repeat(2, 1fr);
    }
    .booking{
       padding: 90px 200px; 
    }

    .booking .form_box{
        margin: 0;
        padding: 0 160px 0 10px;
    }
    .booking .form_box form{
        width: 280px;
       }
       .booking .form_box form label{
        margin-bottom: 4px;
       

    }
    .booking .form_box form label, input, select{
        display: block;
        width: 12rem;
        height: 2rem;
     }

}
@media screen and (min-width: 1440px){
        
    .grid--1x2{
        grid-template-columns: 50% 50% repeat(2, 1fr);
    }
    .booking{
       padding: 90px 230px; 
    }

        .booking .images{
         display:inline-flex;
         }
         
         .booking .images .img1{
             display: inline;
             margin-right: 50px;
         }

         .booking .form_box{
             margin: 0;
             padding: 0 160px 0 10px;
         }
        .booking .form_box form{
            width: 280px;
           }
           .booking .form_box form label{
               margin-bottom: 4px;
               padding: 0;
               position: relative;
               top: 10px;

           }
   
           .booking .form_box form label, input, select{
               display: block;
               width: 12rem;
               height: 2rem;
            }
            
            .booking .form_box form input, select{
                margin-bottom: 1rem;
                border: 1px solid rgba(128, 128, 128, 0.255);  
             }   
             
}




/* -------------------- Footer Section -------------------- */
footer{
    background-color: #191919;
    color: var(--grey-color);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 20px;
}

footer div{
    margin-top: 5%;
}

footer h3{
text-align: center;
}
footer .divider{
    width: 15rem;
    margin: 1rem 0;
    align-self: center;
    
}
.foot{
    display: flex;
    flex-direction: column;
}
footer p{
    text-align: center;
}
footer p .bold{
    font-family: sans-serif;
    font-weight: bold;
}
footer .open_hours .cards{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
footer .open_hours .cards img{
    width: 15px;
    margin: 0 5px;
    
}
footer .location .social_media{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
footer .location .social_media img{
    width: 15px;
    margin: 0 5px;
    
}

@media screen and (min-width: 768px){
    footer{
        background-color: #191919;
        color: var(--grey-color);
        font-weight: 200;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 60px 30px;
    }
    
    footer div{
        margin-top: 5%;
    }
    
    footer h3{
    text-align: center;
    }
    footer .divider{
        width: 15rem;
        margin: 1rem 0;
        align-self: center;
        
    }
    .foot{
        display: flex;
        flex-direction: column;
    }
    footer p{
        text-align: center;
    }
    footer p .bold{
        font-family: sans-serif;
        font-weight: bold;
    }
    footer .open_hours .cards{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    footer .open_hours .cards img{
        width: 15px;
        margin: 0 5px;
        
    }
    footer .location .social_media{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    footer .location .social_media img{
        width: 15px;
        margin: 0 5px;
        
    }
}

@media screen and (min-width: 1024px){
    footer{
        display: grid;
        grid-template-columns: 35% 45% 20% repeat(3, 1fr);
        padding:4rem 13rem;
    }
}
@media screen and (min-width: 1440px){
    footer{
        display: grid;
        grid-template-columns: 30% 40% 20% repeat(3, 1fr);
        padding:4rem 23rem;
    }
}
